.about {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    /* background-color: red; */
    margin: 0 100px;
}


.about > * {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-container {
    margin-top: 20px;
}

.about-blurb {
    background-color: #00000044;
    border: 1px solid lightblue;
    color: rgb(228, 228, 228);
    padding: 20px;
    max-width: 800px;
}

.footer-blurb {
    display: block;
    color: white;
    font-size: 12px;
    margin-bottom: 10px;
}

.footer-icons > * {
    margin: 10px 12px;
}