.chat-display {
    position: relative;
    /* 48px for padding */
    height: calc(100% - 48px);
    overflow: scroll;

    padding: 24px;

    background-color: #00000085;
}

.button-container {
    margin: 24px 0;
    max-width: 100%;
    text-align: center;
}