.chat-input {
    height: 48px;
    position: relative;
    width: 100%;
    /* background-color: blue; */
}

.chat-form-input, .chat-form-submit {
    height: 48px;
    border: none;
    padding: 0;
    /* background-color: red; */
}

.chat-form-input {
    /* 48px for .chat-form-submit width */
    /* 28px for .chat-form-input padding */
    width: calc(calc(100% - 48px) - 28px);
    font-size: 18px;
    padding: 0 14px;
}

.chat-form-submit {
    width: 48px;
    vertical-align: top
}