.header {
    color: white;
    background-color: #00000044;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.title {
    font-size: 24px;
}

.icon-container {
    margin: 0 5px;
    display: inline-block;
}

.spacer, .icons-container {
    width: 120px;
    text-align: right;
}