.icon-button-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: #00000022;
    color: white;
    cursor: pointer;
}

.icon-button-container:hover {
    background-color: #00000044;
}