.main {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.code-box-container, .chat-box-container {
    width: 100%;
    max-width: 800px;
}

.code-box-toggle-button {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}