.message {
    margin: 0 2px;
    max-width: max(60%, 200px);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 3px 9px 5px 9px;
    word-break: break-all;

    font-size: 20px;
}

.message-user {
    background-color: white;
    border-radius: 15px 15px 0 15px;
    text-align: left;
}

.message-other {
    background-color: #00000080;
    color: white;
    border-radius: 15px 15px 15px 0;
}

.message-user-container, .message-other-container {
    display: block;
    margin-bottom: 4px;
    /* background-color: red; */
}

.message-user-container {
    text-align: right;
}

.message-other-container {
    text-align: left;
}